* {
  font-family: Arial, Helvetica, sans-serif;
}


body {
padding: 60px;
background-image: linear-gradient(0, #ff8762 0, #ff8e53 4.17%, #ff9545 8.33%, #ff9d38 12.5%, #f9a42b 16.67%, #ebab20 20.83%, #dcb119 25%, #ccb717 29.17%, #bcbc1c 33.33%, #aac126 37.5%, #97c533 41.67%, #82c941 45.83%, #6acc50 50%, #4ccf60 54.17%, #11d171 58.33%, #00d382 62.5%, #00d494 66.67%, #00d5a7 70.83%, #00d6b9 75%, #00d6cc 79.17%, #00d6de 83.33%, #00d5ef 87.5%, #00d5ff 91.67%, #00d3ff 95.83%, #00d1ff 100%);
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.logo{
  
  border: 1px solid grey;
  border-radius: 6px;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;

}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card p{
  padding: 5px;
  text-align: center;

}

.card img{
  max-height: 170px;
}
